#preview {
    min-height: 85vh;
    height: auto;
}

.card, textarea {
    background-color: #BCCCE0 !important;
}

pre, code {
    background-color: #dddd;
}

table, th, td {
    border: 2px solid !important;
}

#preview img {
    max-width: 100%;
}

#preview-title {
    margin: 4px;
}

body {
    background-color: #312F2F !important;
    color: #84DCCF !important;
}